body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.todo-container {
  display: flex;
  flex-direction: column;
}

h3 {
  color: orangered;
}

input {
  width: 320px !important;
}

input:focus::placeholder {
  color: #198754;
}
